@{
    ViewBag.Title = "Список ролей";
}

@model IEnumerable<UserRole>
 
<h2>@ViewBag.Title</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-name="@role.Name" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Добавить роль</a>
<a asp-action="UserList">Список юзверей</a>