@using ChessWeb.Application.Constants
@{
    ViewBag.Title = "Начальная страница";
}

@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    @if (User.IsInRole(Roles.AdminRole))
    {
        <a class="btn btn-sm btn-primary" asp-controller="Users" asp-action="Index">Юзвери</a>
        <a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Index">Роли</a>
    }
                          
    <form method="post" asp-controller="Account" asp-action="Logout">
        <button type="submit" class="btn btn-primary">Убежать из зоопарка</button>
    </form>
}

else
{
    <a asp-controller="Account" asp-action="Login">Оставить надежду</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}