@using ChessWeb.Application.Constants
@{
    ViewBag.Title = "Начальная страница";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-3">
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <strong>@User.Identity.Name</strong>
            </div>
            <br/>
            
            @if (User.IsInRole(Roles.AdminRole))
            {
                <div>
                    <a asp-controller="Users" asp-action="Index">Юзвери</a>
                </div>
                
                <div>
                    <a asp-controller="Roles" asp-action="Index">Роли</a>
                </div>
            }

            <form method="post" asp-controller="Account" asp-action="Logout">
                <div>
                    <button type="submit" class="btn btn-danger">Убежать из зоопарка</button>
                </div>
            </form>
        }

        else
        {
            <div>
                <a asp-controller="Account" asp-action="Login">Оставить надежду</a>
            </div>
            
            <div>
                <a asp-controller="Account" asp-action="Register">Регистрация</a>
            </div>
            
            <div>
                <a href="/Sandbox">Резвильня</a>
            </div>
        }
    </div>
</div>