@{
    ViewBag.Title = "Ушиб";
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="row">
        <div class="col" style="margin-top: 50px;">
            <h4 class="text-center border rounded" style="background-color:white">Ушиб @ViewBag.Error</h4>
        </div>
    </div>
</div>