@{
    ViewBag.Title = PasswordLabels.ChangePasswordConfirmationTitle;
}

<h2>@MessageLabels.SuccessfulChangePasswordConfirmationHeader</h2>
<a asp-controller="Account" asp-action="Profile">@MessageLabels.SuccessfulChangePasswordConfirmationLinkText</a>
