@model UserChangePasswordViewModel
@{
    ViewBag.Title = PasswordLabels.ChangePasswordTitle;
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-3">
        <form method="post" asp-controller="Account" asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="OldPassword"></label><br/>
                <input asp-for="OldPassword" class="form-control"/>
                <span asp-validation-for="OldPassword"></span>
            </div>
            
            <div>
                <label asp-for="NewPassword"></label><br/>
                <input asp-for="NewPassword" class="form-control"/>
                <span asp-validation-for="NewPassword"></span>
            </div>
            
            <div>
                <label asp-for="ConfirmNewPassword"></label><br/>
                <input asp-for="ConfirmNewPassword" class="form-control"/>
                <span asp-validation-for="ConfirmNewPassword"></span>
            </div>
            
            <div>
                <button type="submit" class="btn btn-primary">@PasswordLabels.ChangePasswordButton</button>
            </div>
            
        </form>
    </div>
</div>
