@{
    ViewBag.Title = "Затвердение почты";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>Благодарим за подтверждение почты. Можете перейти мост входа в учетную запись: <a asp-controller="Account" asp-action="Login">мост</a></p>
</div>