@{
    ViewBag.Title = EmailLabels.ConfirmEmailTitle;
}

<h2>@ViewBag.Title</h2>
<div>
    <p>@MessageLabels.ConfirmEmailText <a asp-controller="Account" asp-action="Login">@MessageLabels.LinkText</a></p>
</div>