@{
    ViewBag.Title = "Подтверждение забытого пароля";
}

<h2>@ViewBag.Title</h2>
<p>Для броска пароля прогибом перейдите по мосту в письме, отправленном на указанный при регистрации адрес электронной почты</p>