@model IEnumerable<Game>
@{
    ViewBag.Title = "Список игр";
}

<a asp-action="Create">Создать игру</a>
 
<table class="table">
    <tr><th>ID игры</th><th>FEN игры</th><th>Состояние игры</th></tr>
    @foreach (var game in Model)
    {
        <tr>
            <td>@game.Id</td>
            <td>@game.Fen</td>
            <td>
                @(game.GameSummary.Status + " ") 
                <a class="btn btn-sm btn-primary" asp-action="GameSides" asp-route-id="@game.Id">Пользователи</a>
            </td>
        </tr>
    }
</table>